@media(max-width: 1024px) {
    .hide-mobile {
        display: none;
    }

    .grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
   
}

@media(max-width: 768px) {

    body {
        max-width: 768px;
      }

    .grid,
    .showcase .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
    }

    .card-img {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .showcase-hero {
        text-align: center;
    }

    .services-text {
        text-align: center;
    }
    
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

}
/* Mobile */
@media(max-width: 500px) {

    body {
        max-width: 500px;
    }

      .card-img {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .services-text {
        text-align: center;
    }


    .social:nth-child(1) {
        order: 2;
    }

    .showcase-hero {
        text-align: center;
    }
    
    .grid-4 {
        grid-template-columns: 1fr;
    }


}